*, html, body, .App {
  font-family: "Lato";
  font-size: 98%;
}

* {
  position: relative;
  width: 100%;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  position: relative;
  height: 100%;
}

.App {
  text-align: center;
  width: 100%;
  position: relative;
  height: 100%;
  /* background: #1a1a1a; */


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.home-container {
  display: flex;
  /* width: 100vw; */
  position: relative;
  flex: 1 1 auto;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
  /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */

}

.home-text-content {
  position: relative;

}

.home-img-wrapper {
  background:
  /* url('imgs/profile_full_length_opt.jpg'); */
  url('imgs/cropped_cartoon_2.png');


  /* url('imgs/profile_full_length_opt.jpg'); */


  /* full profile photo w/ overlay
  linear-gradient(
      rgba(12, 31, 45, 0.3),
      rgba(12, 31, 45, 0.3)
    ), url('imgs/profile_full_length_opt.jpg'); */

  background-repeat: no-repeat;

}


/* BEGIN /music styles  */
.header-1 {
	font-size: 24px;
	padding: 3px;
	margin: 6px;
	font-weight: bold;
}

.album-container {
	width: 100%;
	height: 100%;
	position: relative;

	display: flex;
	padding: 8px;
	flex: 1 1 auto;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	min-width: 450px;
}

.album-img-wrapper,
.album-content-wrapper,
.album-title,
.buttons-wrapper,
.tracklist-wrapper {
	padding: 3px;
	margin: 6px;
}

.album-img-wrapper {
	position: relative;
	/* width: 55%; */
	width: 32%;
	min-width: 200px;
	/* min-width: 300px; */

	flex-flow: column wrap;
	align-self: center;
	position: relative;
	display: flex;
	flex: 1 1 auto;
	/* margin: 4px; */
	padding: 3px;
}

.album-img {
	width: 100%;
	/* max-width: 500px; */
	/* min-width: 300px; */
	padding: 3px;
	margin: 3px;
	justify-content: center;
	position: relative;
	text-align: center;
	align-self: center;
}

.album-content-wrapper {
	position: relative;
	width: 60%;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-self: flex-start;
	flex: 1 1 auto;
	/* margin: 4px; */
	padding: 3px;
	/* min-width: 350px; */
}

.album-title {
	font-weight: bold;
}

.buttons-wrapper {
	text-align: center;
}

.tracklist-wrapper {
}

button {
	border-radius: 0px;
	padding: 8px 2px;
	margin: 0px 6px;
	width: 75px;
	font-size: 12px;
	background: none !important;
	color: darkslategray;
}


/* END /music styles */






/* desktop */

@media only screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1)  {

  .home-container {
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100vh;
  }

  .home-text-content {
    width: 43%;
    height: 100%;
    flex: 1 1 auto;
    min-width: 250px;

  }

  .home-img-wrapper {
    /* width: 56.25%; */
    position: relative;
    width: 100%;
    height: 100%%;
    flex: 1 1 auto;
    /* background-image:url('imgs/profile_full_length_opt.jpg'); */
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position-x: left;
    background-position-y: bottom;
    min-width: 250px;

  }

}

/* tablet */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

  }

/* phone  */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .home-container {
    flex-wrap: wrap-reverse;
    flex-direction: row;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex: 1 1 auto;

  }

  .home-text-content {
    background-color: blue;
    height: 43%;
    width: 100%;
    flex: 1 1 auto;
  }

  .home-img-wrapper {
    background-color: red;
    position: relative;
    height: 56.25%;
    width: 100%;
    flex: 1 1 auto;
    /* background-image:url('imgs/profile_full_length_opt.jpg'); */
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;

  }
}
